.assign_dealers {
  width: 100%;
  overflow-x: auto;
}
.assign_dealers table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.assign_dealerstd,
.assign_dealers th,
.assign_dealers td {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

/* .assign_dealers tr:nth-child(even) {
  background-color: #dddddd;
} */

.assign_dealers tr {
  /* background-color: #dddddd; */
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.assign_dealers th,
.assign_dealers td {
  /* padding: 8px; */
}

.MuiPopover-paper {
  width: 260px !important;
}
.subtotal_right p {
  margin-left: 30px;
}
.dealer_filter_wrap {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .subtotal_right p {
    font-size: 12px;
    margin-left: 0px;
    padding-right: 0px !important;
  }
  .subtotal_right p:nth-child(2) {
    margin-top: 60px;
  }
  .subtotal_left p {
    font-size: 12px;
  }
  .margin-btm-sm {
    margin-bottom: 25px !important;
  }
  .dealer_filter_wrap {
    display: block;
  }
  .width_100{
    width: 100%;
  }
  .max_width_100{
    max-width: 100% !important;
    width: 100% !important;
  }
  .margin_b_10{
    margin-bottom: 10px !important;
  }
  .margin_b_20{
    margin-bottom: 20px !important;
  }
  .margin_t_10{
    margin-top: 10px !important;
  }
  .margin_t_20{
    margin-top: 20px !important;
  }
  .margin_l_0{
    margin-left: 0px !important;
  }
}
